<introText>
$bf.getName() sends back a message.

You open it and it's a picture of his dick. It is semi-flaccid. He sends another message that asks you to send nudes.

Feeling naughty, you strip down enough to take a picture of your naked breasts. You frame the shot so your head is out of view. Then, you send the picture to him.

You soon receive another message from $bf.getName(). It is a picture of his dick, standing tall and fully erect. Below the picture, he has typed, "lower."

You fully strip down and lie on your bed. You spread your legs, take a picture of your pussy, and send it to him.

You wait a while, but you eventually receive another message from $bf.getName(). It's a video showing him rubbing his hand up and down his fleshy pole. He has written, "show me how wet you are."

Fully worked up now, you rub your clit until you feel the wetness building between your legs. You send him a picture of you spreading your pussy lips apart so he can see your moist insides.

After a few minutes, you receive another message from $bf.getName(). It's a picture of his cock glistening from cum oozing down its sides.
$bf.addEnjoyTiny() $bf.addNpcLikingTiny() $bf.addWLikingTiny() $scene.hideNpc($bf) $w.stripNaked()##
</introText>



<sceneDescriptionText>
You are at home, sending messages to $bf.getName().
</sceneDescriptionText>
