<introText>
You go for a jog through the park. The weather is nice, with a clear sky and a cool breeze. The laughter of children playing tag wafts over the park as you do a few laps. After you finish your jog, you stop by a drinking fountain to do some cool down stretches. 
While you're bent over in one of your stretches, you look up and notice a man checking you out as he jogs by. Not chastened at all at being caught, he blatantly looks over his shoulder at you as he jogs away. He wolf whistles as he looks over your body hungrily. 

He's so distracted that he runs right into a tree. You can hardly suppress a laugh as he rubs his head in shame and jogs away.
</introText>



<sceneDescriptionText>
You are jogging through the park.
</sceneDescriptionText>

<empty>
</empty>
